{% extends "base/base_page.html" %}
{% block page_heading %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cards</h1>
          </div>
{% endblock page_heading %}
{% block page_content %}
        <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        {% include 'components/card/card_primary_text.html' %}
        <!-- Earnings (Annual) Card Example -->
        {% include 'components/card/card_success_text.html' %}
        <!-- Earnings (Tasks) Card Example -->
        {% include 'components/card/card_info_text.html' %}
        <!-- Pending Requests Card Example -->
        {% include 'components/card/card_warning_text.html' %}
        </div>

        <div class="row">
            <div class="col-lg-6">

              <!-- Default Card Example -->
              {% include "components/card/card_default.html" %}

              <!-- Basic Card Example -->
              {% include "components/card/card_basic.html" %}

            </div>

            <div class="col-lg-6">

              <!-- Dropdown Card Example -->
              {% include "components/card/card_dropdown.html" %}

              <!-- Collapsable Card Example -->
              {% include "components/card/card_collapsable.html" %}

            </div>

        </div>
{% endblock page_content %}