<!-- base.html -->
<!DOCTYPE>
<html>
<head>

    <meta charset='utf-8'>
    {% include 'header.html' %}
    {% load static %}
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    
</head>

<body>
    <div class='container-fluid'>
    
        <div class="well post_title">
            
            <h1><img width="200" height="120" src="{% static 'img/logo.png' %}">  文齋</h1>  
              
        </div>
        <div class='panel panel-default'>        
            <div class='row'>
                {% include 'menu.html' %}                
                <div class='col-sm-8 col-md-8'>
                    <div class="panel-header">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block content %} {% endblock %}
                    </div>                    
                </div>
            </div>
            <div class='row'>
                <div class="panel-footer">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
